@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Inter:wght@300;400;500;700&display=swap');

body {
  @apply font-serif text-gray-800 bg-primary-light dark:bg-gray-900 dark:text-gray-100;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-bold font-serif text-accent;
}

a {
  @apply text-accent underline;
}

pre {
  @apply bg-gray-100 p-4 rounded my-4 overflow-x-auto text-sm dark:bg-gray-800;
}

code {
  @apply font-mono bg-gray-200 px-1 rounded dark:bg-gray-700;
}
